html,
body {
  height: 100px;
}

body {
  background-image: url("..//img/phone.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-size: 18px;
  font-family: "Arial";  
}

img {
  width: 370px;
  height: 180px;
  margin: 20px auto;
  display: block;
}

.wrapper {
  width: 95%;
  max-width: 1440px;
  margin: 0px auto;
}

.wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper header > a {
  text-decoration: none;
  color: white;
  font-size: 36px;
  align-items: center;
  display: flex;
}

.wrapper-logo {
  width: 80px;
  height: 80px;
  margin-right: 35px;
}

.wrapper nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.wrapper nav ul a {
  text-decoration: none;
  color: white;
  font-size: 36px;
}

.wrapper nav {
  width: 50%;
}

.container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
  }

.one-post {
  border: 5px groove white;
  border-radius: 8px;
  flex: 0 1 30%; 
  margin: 10px;
}

 .one-post.left-aside {
    width: 30%;
}

.one-post.right-aside {
    width: 70%;

} 

.right-aside {
  margin: 0 10px;
  padding: 20px;
  box-sizing: border-box;
}
.one-post.right-aside h3 {
  text-align: center;
}

.one-post.right-aside p {
  text-align: justify;
  margin: 15px;
}

.one-post.right-aside a {
  float: right;
  margin-right: 15px;
  color: white;
}

/* .one-post img {
    max-width: 100%;
} */
